.task-scheduler-field.task-scheduler-subfield {
	clear: none;
}
.action-email-field-description {
	clear: left;
}
.action-email-field-description h5 {
	padding-top: 1em;
}
.repeatable .task-scheduler-field.task-scheduler-field-inline_mixed {
	width: auto;
}

.task-scheduler-field.task-scheduler-field-autocomplete .task-scheduler-input-label-container {
	min-width: 50%;
}